//font-sizes
$font-xsm: 0.8rem; //16px
$font-sm: 1rem; //16px
$font-md: 1.35rem; // 18px
$font-lg: 2.2rem; // 20px
$font-xlg: 3.5rem; // 52px

//colors
$black: #161815;
$white: #fff;
$off-black: rgba(39, 39, 39, 0.9);
$off-white: rgba(255, 255, 255, 0.8);
$semi-white: #fff5f0;
$off-pink: rgba(255, 229, 189, 0.7);
$whiteBlack: rgb(58, 58, 58);
$blue: #0070f3;

$greyish: #696969;
//hsl
//colors

$offWhite: hsla(239, 63%, 13%, 0.06);
$offBlack: hsl(240, 3%, 11%);
