.banner {
  height: 50px;
  width: 100%;
  background: #161815;
  text-align: center;
  padding: 0 1rem;
  font-size: min(max(1rem, 4vw), 20px);
  p {
    background: linear-gradient(
      75deg,
      rgb(137, 131, 186),
      rgb(158, 152, 204) 20%,
      rgb(194, 154, 190) 38%,
      rgb(225, 151, 176) 56%,
      rgb(255, 154, 125) 74%,
      rgb(255, 180, 103) 84%,
      rgb(255, 218, 142)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
}
