.cta {
  background: #121212;
  border-bottom: 0.8px solid #eaeaea;
  .inner-containers {
    h1 {
      background-image: linear-gradient(
        -225deg,
        #77ffd2 0%,
        #6297db 48%,
        #1eecff 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
