.hero {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 0vh;
  position: relative;
  padding-bottom: 0;
  background-image: radial-gradient(
    circle farthest-corner at 50% 100%,
    rgba(133, 137, 141, 0.38),
    transparent 30%
  );

  object-fit: fill;

  @include for-size(tablet-landscape-up) {
    position: relative;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .hero__content {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;

    @include for-size(phone-only) {
      max-width: 1024px;
    }

    h1 {
      letter-spacing: -0.05em;
      font-weight: 800;
      margin: 0 0 30px;
      line-height: 1.1;
      font-size: 10vw;
      color: rgb(39, 39, 39);
      @include for-size(tablet-landscape-up) {
        font-size: 6.5rem;
        line-height: 1;
      }
    }

    h3 {
      font-size: 1.12rem;
      font-weight: 300;
      margin: 0px 0px 40px;
      line-height: 1.5;
      @include for-size(desktop-up) {
        font-size: 1.25rem;
      }
    }
    .card {
      position: absolute;
      top: -10px;
      left: -200px;
      width: 20vw;
      height: 20vw;
      border-radius: 50%;
      background-color: #63a4ff;
      background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
      z-index: -1;
    }
    .card.two {
      top: 550px;
      left: 1224px;
    }

    .img-container {
      @include for-size(desktop-up) {
        width: 450px;
        margin-left: 220px;
      }
      position: relative;
      transition: all 300ms ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }
    }

    .hero__btn-container {
      margin-bottom: 30px;
    }
  }
}
