.Two {
  background: #fafbfc;
  border-bottom: 0.8px solid #eaeaea;
  .inner-containers {
    h1 {
      background: linear-gradient(
        75deg,
        rgb(137, 131, 186),
        rgb(158, 152, 204) 20%,
        rgb(194, 154, 190) 38%,
        rgb(225, 151, 176) 56%,
        rgb(255, 154, 125) 74%,
        rgb(255, 180, 103) 84%,
        rgb(255, 218, 142)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .imgtwo--container {
      position: relative;
      .card {
        position: absolute;
        top: 0px;
        left: 30px;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        // background-color: #63a4ff;
        // background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
        z-index: -1;

        @include for-size(desktop-up) {
          position: absolute;
          top: 50%;
          left: 43%;
          transform: translate(-50%, -50%);
        }
      }

      .one {
        position: absolute;
        top: -10px;
        left: -250px;
        width: 275px;
        height: 125px;
        background: linear-gradient(
          152.97deg,
          rgba(201, 201, 201, 0.2) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(42px);
        border-radius: 0.6em;
        border: 2px solid transparent;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        background-image: radial-gradient(rgba(255, 255, 255, 0.2));
        .info-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          h3 {
            text-align: center;
            margin: 0;
            padding: 0;
            font-size: 1rem;
            letter-spacing: -0.03em;
          }
        }
      }

      .one.two {
        top: 260px;
      }

      .one.three {
        left: 310px;
      }

      .one.four {
        top: 260px;
        left: 310px;
      }

      // .man {
      //   width: 500px;
      //   background-image: url("/man.png");
      //   background-position: 50% 100%;
      //   background-repeat: no-repeat;
      //   object-fit: contain;
      //   z-index: 5;
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);

      //   @include for-size(desktop-up) {
      //   }
      // }
      @include for-size(phone-only) {
        max-width: 400px;
        .imgself {
          margin-left: 37px;
        }
      }
      @media only screen and (min-device-width: 540px) and (max-device-width: 600px) {
        max-width: 400px;
        margin-left: 60px;
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {
        max-width: 400px;
        margin-left: 190px;
      }

      @include for-size(tablet-landscape-up) {
        max-width: 400px;
        margin-left: 290px;
      }
      @include for-size(desktop-up) {
        max-width: 400px;
        margin-left: 200px;
      }
      @include for-size(big-desktop-up) {
        max-width: 400px;
        margin-left: 320px;
      }
    }
  }
}

.featurecard {
  position: relative;
  margin: 1.5em 0;
  border-radius: 0.3em;
  border: 1px solid #eaeaea;
  padding: 1rem;
  background-color: #fafbfc;

  .info-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      letter-spacing: -0.03em;
    }
  }
}
